div.data {
  font: icon;
}

div.data code {
  display: block;
}

div.meta {
  color: gray;
  font: icon;
  font-size: 70%;
}

div.item {
  align-items: center;
  display: flex;
  font: icon;
}

@keyframes flash {
  0% { background: none; }
  10% { background: silver; }
  20% { background: none; }
  30% { background: silver; }
  40% { background: none; }
  50% { background: silver; }
  60% { background: none; }
  70% { background: silver; }
  80% { background: none; }
  90% { background: silver; }
  100% { background: none; }
}

div.item.flash {
  animation: flash 1s;
}

div.item:hover {
  background: silver;
}

button {
  border: none;
  color: transparent;
  cursor: pointer;
  height: 16px;
  padding: 0;
  width: 16px;
}

button.directory-opened {
  background: no-repeat center/16px url('ico/icons8-open-50.png');
}

button.directory-closed {
  background: no-repeat center/16px url('ico/icons8-folder-50.png');
}

button.file {
  background: no-repeat center/16px url('ico/icons8-file-40.png');
}

span.title {
  flex: 1;
  padding: 0 1ex;
}
